* {
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
  grid-column: 6 / 8;
  grid-row: 1;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: grey;
  padding: 10px;
}

.grid-item-1 {
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.grid-item-2 {
  grid-column: 1 / span 12;
  grid-row: 3;
  background-color: white;
  font-size: 30px;
  text-align: center;
  border: 1px solid black;
  padding: 0px;
  z-index: 2;
}

.grid-item-3 {
  grid-column: 2 / 4;
  grid-row: 6 / 2;
}

.grid-item-4 {
  grid-column: 8 / 8;
  grid-row: 12;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 1px solid black;
  padding: 0px;
}

a {
  text-decoration: none;
}

[class*="col-"] {
  float: left;
  background-color: white;
  border: 1px solid black;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 64.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

.row::after {
  content: "";
  clear: both;
  display: table;
}
